* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px;
}
body{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.quote{
    width: 45%;
    background-color: cadetblue;
    padding: 30px;
    margin: 10px 15px 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
}
p{
}
span{
    font-style: italic;
}